*.umap.gz filter=lfs diff=lfs merge=lfs -text
*.bed.gz filter=lfs diff=lfs merge=lfs -text
*.txt.gz filter=lfs diff=lfs merge=lfs -text
docs/share/gene_module.txt.gz filter=lfs diff=lfs merge=lfs -text
docs/share/gene_module_sparse.txt.gz filter=lfs diff=lfs merge=lfs -text
